language: node_js
node_js:
- 5
- 6
script:
- npm run build
after_success:
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash
  deploy.sh
env:
  global:
  - secure: X2d0Gjk7HJGioVlN7FslYFYCxtFgSjeQRHAJK/SmsEvKDNXFXjdipv5H318Jf1uFpiqrloq+9Pf0Ost+ucsi3MEu8XlgTZ1XY37Pp0nroaunKp8WYmorXWMF9vfljZGgQV/Eg6bzr0nUX5ZyCywSFS1N4exgcn1dDTjT8USmv0CAbrQP7flKs9Tc/KLFojifkgzgZbBsJn939AS7MNkS8syeYh/nNWZGy89+oCOqG9hiIQf2eF8zYc/WU1cG6QQheFncxQOmi50Unq8+P5qJ15e7h1AeVXh1VfKVWWOxVUKtXBbFS0tU4qOPTcen6V35FO853M/4MMTWI6I9B+s5r5s4expUN6w8Iz2ctADVe6c7MFLyGukhmfWmW+GnwlpC1DhCTQyARNWfDESB8jBWBDp+7itJ7H649appRsU15hbbngJQzfoEfdyUwfwYDp2dwklYzqMebY6SiundS/s1bZ4n1MjV91tucXipvYZSYAN97oyzQGhElunbgBui2WDTpVwRspJpo/32uv7Lhzct4uQVkh7pD/ZJEX+ERsqcjGZkFGAw8W1TNtxyJdKqij1zYobP6eLdTT4o5iAH82lfY8x2iFKm2W1cuEz3Kv3+hR31GGps0TYpvBOJ5SEnfL2pqSg5tpPQEaL8YpLDUvqgDIoo2lWkWa+N096aEkGumgw=
  - secure: AMHYRbSG+iiZEiIJBwm1GgYU1vAlWPkeECnpV17n0DUy+eaHiQKE9ws1etcz7MMJsXrRDGEr9yR/xL1leT5HmFD1XQ6jsfzjP+jkFwJ1Sb11a/6mPEzSlS17Cc5q/Eo1TY6ToVphe/p+ZySDUuwTrJK5+9QS8NqZo/iSPXMk9NgaDvGENVZuafHNr6quYzz9FVG1eopDbSGD8dQdKe5VfY+blgt0QtTNwc/V2fCj2SRuuEkWLXp5vqIHCq3q8Nu/rCH55t4AkKRWewBNn4IQEWxtPb+KhoPIYRWXeS7s5T1OM/WwbaUWQX6nbpOzH0g7BGArr7DYdUmQ8OQ33C8NOzskXoVr5bCIlojQK/QVTY1/Z6POXWQ64NhQZAgxKZfK02DJtzBl+i4u9ctg7QRIYhHgVMtjQvTR44viPTz2vv70GWVREkXJ/NpC34FmqxrE/LP/UihPgCpG+un3IKczd0b0J8CljdhQJB1Q4p5laxWlmPi/j2uxUpeMJeqbhl6D+ipUfxVglYNQ6ukkg8ilg9iq8SylLvCZUd+4NcWKpvHpR72kXMFvB3HOgeAp8CH+1NKBEh1Vmjejbe5JI27OaILZQUTrrtLRm3Bwq/16O3CdUSVSzFY3la9dZEkn3+ey2uy2p9+fnDRPx2omDOYgQQh6FN78yZGT7YEl7SNqw7I=
