<footer class="pane bg-npm-navy-1">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="h4 type-npm-pastel-3">You Need Help</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default">
            <li class="pbl"><a class="type-neutral-11" href="https://docs.npmjs.com">Documentation</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/support">Support / Contact Us</a></li>
            <li class="pbl"><a class="type-neutral-11" href="http://status.npmjs.org/">Registry Status</a></li>
            <li class="pbl"><a class="type-neutral-11" href="https://github.com/npm/newww/issues">Website Issues</a></li>
            <li class="pbl"><a class="type-neutral-11" href="https://github.com/npm/npm/issues">CLI Issues</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/policies/security">Security</a></li>
          </ul>
        </div>

        <div class="col-md-4">
<h3 class="h4 type-npm-pastel-3">About npm</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default">
            <li class="pbl"><a class="type-neutral-11" href="/about">About npm, Inc</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/jobs">Jobs</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/npm-weekly">npm Weekly</a></li>
            <li class="pbl"><a class="type-neutral-11" href="http://blog.npmjs.org">Blog</a></li>
            <li class="pbl"><a class="type-neutral-11" href="https://twitter.com/npmjs">Twitter</a></li>
            <li class="pbl"><a class="type-neutral-11" href="https://github.com/npm">GitHub</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h3 class="h4 type-npm-pastel-3">Legal Stuff</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default">
            <li class="pbl"><a class="type-neutral-11" href="/policies/terms">Terms of Use</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/policies/conduct">Code of Conduct</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/policies/disputes">Package Name Disputes</a></li>
<li class="pbl"><a class="type-neutral-11" href="/policies/privacy">Privacy Policy</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/policies/receiving-reports">Reporting Abuse</a></li>
            <li class="pbl"><a class="type-neutral-11" href="/policies/">Other policies</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="txt-c container">
      <a class="npm-loves-you type-neutral-11" href="/">
        npm loves you
      </a>
    </div>
  </footer>
<script src="/scripts/bundle.js"></script>
