<header class="anonymous">
  <div class="header-item header-nav-menu-container">
    <a href="#" id="npm-expansions" class="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">New Project, Monday</a>
    <div class="nav-menu-container" role="navigation">
      <a class="nav-toggle drop-down-menu-toggle" href="#product-navigation"><span class="a11y-only">Toggle Navigation</span>
        <img alt="mobile navigation menu" src="/public/images/mobile-menu.png">
      </a>
      <div class="drop-down-menu-container" role="menu">
        <nav id="product-navigation" class="product-navigation drop-down-menu">
          <ul class="drop-down-menu-section products-list">
            <li><a href="https://www.npmjs.com/npm/on-site">npm On-Site</a></li>
            <li><a href="https://www.npmjs.com/npm/private-packages" data-event-trigger="click" data-event-name="private-modules-nav-link">npm Private Packages</a></li>
            <li><a href="https://www.npmjs.com/npm/open-source">npm Open Source</a></li>
            <li><a href="/">documentation</a></li>
            <li><a href="https://www.npmjs.com/support">support</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
